li{
    list-style: none;
}

nav{
    width: 100%;
    background-color: #29b399;
    color: white;
    position: fixed;
    z-index: 1;
}
.scroll-effect{
    background-color: #3567bb8c;
    z-index: 1;
}
label.logo{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    padding-top: 20px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 100%;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}
nav ul li a:not([href]):not([tabindex]):hover,nav ul li a:not([href]):not([tabindex]):active{
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #e6e366;
    transition: .5s;
}


.checkbtn{
    font-size: 30px;
    float: right;
    
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active,a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left:0;
        margin-top: -27px;
        
    }
    nav ul li a:active{
       color: red;
    }
}