.footer{
    width: 100%;
    background-color: #151657;
    clip-path: polygon(51% 50%, 100% 16%, 100% 100%, 0 100%, 0 12%);
    text-align: center;
    color: white;
    padding-top: 120px;
}
.footer h1{
    padding-top: 150px;
    font-weight: 800;
}
.footer p{
    padding-top: 20px;
    font-size: 1.1em;
    color: #0eddbb;
    opacity: 1;
}

.underscoreNoDelay{
    display: inline-block;
    background-color: rgb(82, 80, 80);
    width: 100px;
    height: 5px;
    animation: moveRight 1s ;
    animation-fill-mode: both;
}
.social-button-container{
    padding-bottom: 20px;
}

@media (max-width: 400px){
    .footer{
        clip-path:polygon(51% 50%, 100% 35%, 100% 100%, 0 100%, 0 35%);
    }
}