/* body{
  background: url('./photo-of-house-near-beach-2468773.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
} */
body,html{
  width: 100%;
background-color: #f3f3f3;  
/* background-color: #424246;   */
color: #616161;
font-family: 'Open Sans';
scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.BgImage{
  background-image: linear-gradient(to right, rgb(235, 74, 74),rgb(58, 55, 235));
  background-position: center;
  background-size: cover;
    width: 100%;
  min-height: 70vh;
  padding-top: 50px;
}

.introText{
  padding: 80px;  
  font-weight: 300;
  letter-spacing: .5px;
}
.introText h1{
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 30px;
}
.introText h3{
  text-transform: capitalize;
  line-height: 2rem;
}
